<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia | MLife Family</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="../css/asociar.css">
   

</head>

<body>

    <header>

        <nav>
            <ul>
                <li class="ML"><a href="#"> <img src="../img/logo.png" alt="MLife" class="ajustar">. MLife Compañy</a>
                </li>

                <li class="radio_btn Mover"><a href="/inicio">
                        HOME </a></li>

                <li class="radio_btn Mover"><a href="/inicio/asociar">
                        Acerca de</a></li>

            </ul>
        </nav>
    </header>

    <div class="push">
        <a href="/inicio/asociar/socio_moral"><img src="../img/push.png" alt="Socio empresa" class="socio_M"></a>

        <a href="/inicio/asociar/socio_independiente"><img src="../img/push 2.png" alt="Socio fisico" class="socio_F"></a>



    </div>
    
    <div class="des">
     <p1>
         hola mundo
     </p1>
    </div>

</body>

</html>