<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLife | Compañy</title>
    <link rel="stylesheet" href="css/Estilos.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

</head>

<body>
    <header>

        <nav>
            <ul>
                <li class="ML"> <img src="../img/logo.png" alt="MLife" class="ajustar"> <input type="submit" value="MLife Compañy" class="Logo_BT"> 
                </li>

                <li class="radio_btn Mover"><a href="/inicio/iniciar-sesion">
                        Iniciar sesión </a></li>

                <li class="radio_btn Mover"><a href="/inicio/asociar">
                        Asóciate a MLife</a></li>

            </ul>
        </nav>
    </header>

    <section>

        <p1 class="estilo_Cascada">Emprende Hoy...</p1>
        <br>
        <p1 class="estilo_Minion">¡Asegura el mañana!</p1>
        <p1 class="family">MLife Family</p1>
        <img src="../img/logo.png" alt="MLife Compañy" class="logoM">



        <div class="Login_ML">
            <h1>Forma parte de la comunidad emprendedora</h1>
            <form action="/inicio" method="POST">
                <label for="Nombre">NOMBRE</label>
                <input type="text" placeholder="Enter Username" minlength="3" maxlength="16" id="name" required name="nombre">

                <label for="Apellido">APELLIDOS</label>
                <input type="text" placeholder="Enter Userlastname" id="lastname" required name="apellidos">

                <label for="e-mail">E-MAIL</label>
                <input type="email" placeholder="Enter e-mail" id="email" required name="email">

                <label for="password">CONTRASEÑA</label>
                <input type="password" placeholder="Enter password" id="contra" minlength="8" maxlength="16" required name="contraseña">

                <label for="comprovar">COMPRUEVA TU CONTRASEÑA</label>
                <input type="password" placeholder="Enter password" id="seña" minlength="8" maxlength="16" required name="comprovar">
                <input class="ss" type="submit" value="REGISTRAR">


            </form>

        </div>

        <div class="info_ML">
            <p1>MLife.</p1>
            <br><br>
            <p2>¡Hola usuario! MLife Compañy te da la bienvenida</p2>
            <br><br>
            <p1>Si es la primera vez que nos visitas talvez no tengas la nocion de quienes somos..</p1>
            <p1> MLife es una empresa cuyo objetivo es...
                <br> <br>
            </p1>
            <p>
                Crear un entorno de trabajo que genere utilidades económicas a base de un sistema de inversión
                autónomo y libre para todo mercado y ente social, esto con la finalidad de apoyar a personas
                físicas y morales que contribuyan a la sociedad al crecimiento económico, generando empleos
                en base a los ideales planteados por los usuarios del sistema.
                <br> <br>
                TODO ESTO EN BASE A UNA PAGINA WEB QUE NOS PERMITA ESTAR EN SINTONIA CONTIGO :)
            </p>
            <br> <br>
            <p>
                 Nuestra meta es…
                 <br>
                “Crear una aplicación de enfoque laboral en auxilio de personas emprendedoras o idealistas con fines
                progresivas al desarrollo socio-económico e inserción y trato de empresas de prestigio”.
                <br> <br>
                Ayudanos a ayudarte forma parde de nuestra familia inicia hoy.

            </p>
        </div>

        <script src="Scrips/jquery-3.5.0.js"></script>
        <script src="Scrips/scripsInicio.js"></script>
        
</body>

</html>