<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia | MLife</title>
    <link rel="stylesheet" href="../css/iniciar.css">
    
</head>

<body>
    
    <a href="/inicio"><img src="../img/anterior.png" alt="anterior" class="antes"></a>

    <div class="Login">
        <img src="../img/usuario.png" alt="iniciar sesion" class="avatar">
        <h1>INICIAR SESIÓN</h1>
        <form action="/inicio/iniciar-sesion" method="POST">

            <label for="e-mail">E-MAIL</label>

            <input type="email" placeholder="Enter e-mail" id="email" required name="correo">

            <label for="password">CONTRASEÑA</label>

            <input type="password" placeholder="Enter password" id="con" minlength="8" maxlength="16" required name="contraseña">

            <input class="entrar" type="submit" value="Iniciar sesión" required>
            <a href="#">Olvide mi contraseña.</a>


        </form>

    </div>
    <script src="../Scrips/jquery-3.5.0.js"></script>
    <script src="../Scrips/scripiniciarsesion.js"></script>

</body>

</html>