<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top MLife</title>
    <link rel="stylesheet" href="css/TOP.css">
    <link rel="stylesheet" href="css/morris.css">
</head>
<body>
    

<div class="contenedor">
    <h1>MLTOP</h1>
<div class="contenedorprimario">
 <div id="graph"></div>
</div>
</div>





    <header>

        <nav>
            <ul>
                <li class="ML"> <img src="../img/logo.png" alt="MLife" class="ajustar"> <input type="submit"
                        value="MLife Compañy" class="Logo_BT">
                </li>
                <li class="radio_btn Mover">
                    <button type="button" class="Bu">
                        <img src="../img/usuario.png" alt="ucer" class="Ucer" id="Ucer">
                    </button></li>
                <li class="radio_btn Mover"><a href="/Web-Lif">
                        WEB-LIFE </a></li>

                <li class="radio_btn Mover"><a href="/Top">
                        MLTOP</a></li>

                <li class="radio_btn Mover"><a href="/Bolsa">
                        BOLSA</a></li>
            </ul>
        </nav>

    </header>

    <script src="../Scrips/jquery-3.5.0.js"></script>
    <script src="../Scrips/morris.min.js"></script>
    <script src="../Scrips/top.js"></script>
</body>
</html>