<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada</title>
    <link rel="stylesheet" href="css/portada.css">
</head>
<body>
    

    <div class="contener">
       <a href="/"> <img src="img/logo.png" alt="" class="a"></a>

        <div class="name">
        <h1>
            Ulises Viber Santiago Julián.
        </h1>

        <h1>
            Tomas Garcia Alcala.
        </h1>

        <h1>
            Misael Hernandez Perez.
        </h1>
</div>
        <h1 class="v">Materia: Ingeniería de software.</h1>
        <h1 class="v1">Profesor: David López Ayala.</h1>
        <div class="logos">
        <img src="img/mex.png" alt="" class="mex">
        <img src="img/tec.png" alt="" class="tec">
        <img src="img/isc.png" alt="" class="isc">
        </div>
    </div>
</body>
</html>