<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comienza ya</title>
    <link rel="stylesheet" href="../../css/estilos_nav_basico.css">
    <link rel="stylesheet" href="../../css/socio_independiente.css">
</head>
<body>
    
    <header>

        <nav>
            <ul>
                <li class="ML"><a href="#"> <img src="../../img/logo.png" alt="MLife" class="ajustar">. MLife Compañy</a>
                </li>

                <li class="radio_btn Mover"><a href="../../inicio">
                        HOME </a></li>

                <li class="radio_btn Mover"><a href="../templates/asociar.html">
                        Acerca de</a></li>

            </ul>
        </nav>
    </header>

    <div class="Login_ML">
        <h1>Convierte en inversionista.</h1>
        <form action="/inici" method="POST">
            <label for="Nombre">NOMBRE</label>
            <input type="text" placeholder="Enter Username" minlength="3" maxlength="16" id="name" required name="nombre">

            <label for="Apellido">APELLIDO</label>
            <input type="text" placeholder="Enter Userlastname" id="lastname" required name="apellido">

            <label for="e-mail">E-MAIL</label>
            <input type="email" placeholder="Enter e-mail" id="email" required name="email">

            <label for="password">CONTRASEÑA</label>
            <input type="password" placeholder="Enter password" id="contra" minlength="8" maxlength="16" required name="contraseña">

            <label for="comprovar">COMPRUEVA TU CONTRASEÑA</label>
            <input type="password" placeholder="Enter password" id="seña" minlength="8" maxlength="16" required name="comprovar">
            <input class="ss" type="submit" value="REGISTRAR">


        </form>

    </div>
</body>
</html>