<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>
    <link rel="stylesheet" href="css/terminos y condiciones.css">
    <link rel="stylesheet" href="Scrips/jquery-3.5.0.js">
</head>

<body>

    <div class="trato">


        <p>
            Los datos referentes a telefono, fecha de nacimiento y domicilio son estrictamente datos privados,
            MLife Compañy solo utilizara estos datos para verificar que el usuario exista realmente y
            no suplante otra identidad, así mismo, hacer llegar notificaciones de urgencia.
            <br>
            Por su seguridad y la de los demás hagamos de MLife un sitio de confianza.
            <br> <br>
        </p>

        <form  action="/terminos-condiciones" method="POST">
            <label class="datos" for="Telefono">Telefono</label>
            <input type="tel" placeholder="+" id="Telefono" required name="telefono">
            <label class="datos" for="Edad">Edad</label>
            <input type="date" placeholder="+" id="Edad" required name="edad">
            <label class="datos" for="Domicilio">Domicilio</label>
            <input type="text" placeholder="" id="Domicilio" required name="domicilio">
            <br><br>

            <input type="radio" name="Aceptar_Terminos" id="aceptar_TYC" required>
            <label class="RB" for="aceptar_TYC">Aceptar Terminos y condiciones</label>
            <br> <br>
            <input class="ss" type="submit" value="Finalizar registro">
        </form>

    </div>

    <div class="titulo">
        <p1 translate="center">Terminos y condiciones de usuario.</p1>
    </div>

    <div class="termino">
        <form>
            <img class="logo" src="../img/logo.png" alt="MLife">


            <p>
                Estimado usuario…
                <br> <br>
                Para nosotros es un honor que hagas uso de nuestros servicios,
                sin embargo, para que el beneficio sea mutuo y llegues a cumplir
                tus metas y nosotros poder ayudarte, debes estar de acuerdo con
                los lineamientos establecidos para conllevar un ambiente de seguridad
                y ordenamiento que realcen la calidad de nuestro servicio.
                <br> <br>
                a) Debes proporcionar información verídica en todo momento, así podemos velar por tus intereses y
                respaldarte en casos diferentes.
                <br>
                b) Estar atento de nuevas actualizaciones y convocatorias una vez concluido el lapso de documentación no
                se aran distinciones.
                <br>
                c) Los elementos y/o archivos deben adecuarse al formato establecido.
                <br>
                d) Si eres menor de edad deberás seleccionar un mentor y un tutor que te guiaran por el camino el cual
                MLife ha preparado para ti.
                <br>
                e)	MLife no se hará responsable de situaciones fuera del entorno de trabajo o a las cuales no se le pida accesoria de cualquier tipo con plena anticipación. 
                <br> <br>
                La condición más importante que MLife tiene para ti es que te esfuerces y des todo,  cumpliendo los términos y condiciones te será más fácil lograr tus objetivos, 
                ¡EMPRENDE HOY ASEGURA EL MAÑANA¡ MLife te acompaña.
            </p>


        </form>

    </div>

</body>

</html>