*{
   margin: 0;
 padding: 0; 
}

body{
 background: url(../img/alfa.png) no-repeat center top;
 background-size: cover;
 font-family: sans-serif;
 font: small;
 color: #fff;
 
}

header{
    width: 100%;
}

header nav{
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    background: url(../img/var.png) no-repeat top center;
}

header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    color: #ffffff;
    padding: 20px;
    display: block;
    text-decoration: none;
}


.ML:hover{
    background: rgb(47,0,74);
    font-size: 17px;
}


.radio_btn{
    margin: 1px 1px;
    color:white;
    font-style: inherit;
    font-weight: bold;
    font-size-adjust: inherit;
    font-size: 13px;
    border-radius: 15px;
}

.radio_btn:hover {
    margin: 2px 2px;
    color:white;
    background: rgb(47,0,74);
    font-size-adjust: inherit;
    font-size: 15px;
    border-radius: 15px;
}

.Mover{
    float: right;
}

.ajustar{
    display: block;
    margin: -20px;
    max-width: 40px;
}

.estilo_Cascada{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    float: inline-start;
    top: 55%;
    left: 40%;
    position: absolute;
    transform: translate(-50%,50%);
}

.estilo_Minion{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 70%;
    left: 35%;
    position: absolute;
}

.logoM{
    display: block;
    margin: 20px;
    max-width: 100px;
    top: 60%;
    left: 27%;
    position: absolute;
}

.Login_ML{
    width: 32%;
    height: 90%;
    background: url(../img/fondo.png);
    color: #ffffff;
    font-size: 12px;
    top: 55%;
    left:52%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
}

.Login_ML h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.Login_ML label{
    margin: 0;
    padding: 0; 
    font-weight: bold;
    display: block;
}

.Login_ML input{
    width: 100%;
    margin-bottom: 20px;

}

.Login_ML input[type="text"],
.Login_ML input[type="email"],
.Login_ML input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.Login_ML input[type="Submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(47,0,74);
    color: #fff; 
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.Login_ML input[type="Submit"]:hover{
    background: rgb(70,0,74);
}

.ML{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.family{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 80%;
    left: 40%;
    position: absolute;
}

.info_ML{
    width: 420px;
    height: 620px;
    background: url(../img/var.png);
    color: #ffffff;
    font-size: 15px;
    top: 55%;
    left: 53%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;

}

.info_ML{
    display: block;
}

.Logo_BT{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    color: #fff; 
    font-size: 18px;
    cursor: pointer;
    margin: 2px 2px;
    font-size-adjust: inherit;
    border-radius: 15px;
}
