*{
margin: 0;
padding: 0;
}

body{
     color: black;
}

.perfilFoto{
    top: 7.999%;
    left: 0%;
    width: 100%;
    max-width: 1400px;
    height: 300px;
    background: black;
    background-size: cover;
    position: absolute;
  float: left;
  
}

.perfilFoto:hover{
  color: aliceblue;
}
.perfilFoto:hover .subir {
  display: block;
 
}

.perfilFoto:hover .degrade {
  display: block;
}
.avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 40%;
    display: block;
}
.archivador{
  display: none;
}

.subir{
  top: 20em;
  left: 90em;
  border: none;
  outline: none;
  height: 70px;
  background: transparent;
  font-size: 10px;
  border-radius: 20px;
  font-weight:800;
  cursor: pointer;
  border: 3px solid white;
  position: absolute;
  font-weight:bold;
  color: white;
}
.sub{
  width:40px;
 height:  40px; 
 margin: 1px;
 
}

.lap{
  top: -5%;
  display: block;
  margin: 6px;
}

.subir{
  display: none;
}

.degrade{
  top: 0%;
  left: 0%;
  width: 100%;
  max-width: 1400px;
  height: 300px;
}

.degrade{
  display: none;
}

.emergente{
  top: 10%;
  left: 10%;
  width: 80%;
  max-width: 1400px;
  height: 80%;
  background: url(../img/emergente.png) no-repeat top center;
  background-size: cover;
  position: absolute;
  border-radius: 20px;
}

.pre{
  top: 0%;
  left: 0%;
  width: 100%;
  max-width: 1400px;
  height: 60%;
  background: black;
  background-size: cover;
  position: absolute;
  border-radius: 20px;
}

.subir2{
  top: 40em;
  left: 20em;
  border: none;
  outline: none;
  height: 70px;
  background: transparent;
  font-size: 10px;
  border-radius: 20px;
  font-weight:800;
  cursor: pointer;
  border: 3px solid white;
  position: absolute;
  font-weight:bold;
  color: white;
}
.subir3{
  top: 40em;
  left: 50em;
  border: none;
  outline: none;
  height: 70px;
  background: transparent;
  font-size: 10px;
  border-radius: 20px;
  font-weight:800;
  cursor: pointer;
  border: 3px solid white;
  position: absolute;
  font-weight:bold;
  color: white;
}
.subir4{
  top: 40em;
  left: 80em;
  border: none;
  outline: none;
  height: 70px;
  background: transparent;
  font-size: 10px;
  border-radius: 20px;
  font-weight:800;
  cursor: pointer;
  border: 3px solid white;
  position: absolute;
  font-weight:bold;
  color: white;
}

.emergente{
  display: none;
}

.nombre{
  position: absolute;
  top: 58%;
  left: 42.5%;
  display: block;
  font-size: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.caract1{
  display: block;
  width: 350px;
  height: 233px;
  background: url(../img/carta.jpg) no-repeat top center;
  background-size:cover;
  border: .5px solid black;
  color: black;
  font-size: 12px;
  top: 18%;
  left: -51%;
  position:absolute;
  transform: translate(50%, -50%);
  box-sizing: border-box;
  padding: 70px 40px;
  margin: 2px;
}
.caract2{
  display: block;
  width: 350px;
  height: 390px;
  background: transparent;
  background-size:cover;
  color: black;
  font-size: 12px;
  top: 68%;
  left: -51%;
  position:absolute;
  transform: translate(50%, -50%);
  box-sizing: border-box;
  padding: 70px 40px;
  margin: 2px;
}
.caract1 h1{
  color: white;
}

.caract{
  display: block;
  width: 350px;
  height: 633px;
  background: white;
  border: .5px solid black;
  color: black;
  font-size: 12px;
  top: 100%;
  left: -13%;
  position:absolute;
  transform: translate(50%, -50%);
  box-sizing: border-box;
  padding: 70px 40px;
  margin: 2px;
}

header{
  width: 100%;
  position: fixed;
}

header nav{
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  background: url(../img/var.png);
}
.enviar{
  display: none;
}

header nav ul{
  overflow: hidden;
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  color: #ffffff;
  padding: 20px;
  display: block;
  text-decoration: none;
}


.ML:hover{
  background: rgb(47,0,74);
  font-size: 17px;
}


.radio_btn{
  margin: 1px 1px;
  color:white;
  font-style: inherit;
  font-weight: bold;
  font-size-adjust: inherit;
  font-size: 13px;
  border-radius: 15px;
}

.radio_btn:hover {
  margin: 2px 2px;
  color:white;
  background: rgb(47,0,74);
  font-size-adjust: inherit;
  font-size: 15px;
  border-radius: 15px;
}

.Mover{
  float: right;
}

.ajustar{
  display: block;
  margin: -20px;
  max-width: 40px;
}
.Logo_BT{
  border: none;
  outline: none;
  height: 40px;
  background: transparent;
  color: #fff; 
  font-size: 18px;
  cursor: pointer;
  margin: 2px 2px;
  font-size-adjust: inherit;
  border-radius: 15px;
}
.Bu{
  background: transparent;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.Ucer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}






.publicar{
  width: 420px;
  height: 150px;
  background: #f0f0d7;
  color: #ffffff;
  font-size: 12px;
  top: 80%;
  left: 20%;
  position:absolute;
  transform: translate(50%, -50%);
  box-sizing: border-box;
  padding: 70px 40px;
  border-radius: 10px;
}

.coon{
  width: 122%;
  height: 100px;
  left: -11%;
  top: -70px;
  background: transparent;
  border: transparent;
  color: black;
  font-size: 12px;
  position: relative;
  border-radius: 10px;   
}


.a{
  display: none;
}
.ss{
  top: 75%;
  left: 80%;
  border: none;
  outline: none;
  height: 20px;
  background: transparent;
  color: grey; 
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  font-weight: 900;
}

.pub{
  top: 70%;
  left: 60%;
  width: 50px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0;
 position: absolute;
 background: transparent;

}

.pub img{
  top: 100px;
  width: 50px;
  height: 30px;
  
position: absolutes;
}

.caract2 label{
  margin: 4px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.caract2 h1{
  margin: 0;
  padding: 10px 0 10px;
  color: gray;
  margin: 4px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}


.mini{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  display: block;
}

.imgPub{
  position: absolute;
  top: 30%;
  left: 10%;
  display: block;
  margin: 6px;
  max-width: 500px;
  max-height: 200px;
}

.contenedor{
  position: absolute;
  left: 30%;
  top: 95%;
  height: 400px;
  width: 500px;
}

.public{
  margin: 6px;
  position: relative;
  min-height: 300px;
  min-width: 600px;
  max-height: 300px;
  max-width: 600px;
  background: #f0f0d7;
  border-radius: 4px;
 
}
.nameU{
  position: absolute;
  display: block;
  margin: 15px;
  left: 10%;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.text{
  position: absolute;
  display: block;
  margin: 10px;
  top: 20%;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}