*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    background-size: cover;
    font-family: sans-serif;
    font: small;
    color:black;
    font-size: 16px;
}

.acomodo{
    display: block;
    margin: 0px;
    max-width: 550px;
    top: 10%;
    left: 55%;
    position: absolute;
}

.acomodo:hover{
    display: block;
    margin: 0px;
    max-width: 570px;
    top: 10%;
    left: 55%;
    position: absolute;
}

.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    
}
.titulo{
    
    width: 800px;
    height: -5px;
    background: url(../img/TYT.png) no-repeat center top;
    background-size: cover;
    font: small;
    color: #fff;
    font-style: inherit;
    font-size: 20px;
    top: 10%;
    left: -30%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
    border-radius: 20px;
}

.trato form input[type="radio"]{
    display: none;
}

.trato form .RB{
    color: #0774D9;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;

}

.trato form .RB:hover{
    background: rgba(0, 116, 217, 0.1);

}

.trato form .RB:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0774D9;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 4px;
}


.trato form input[type="radio"]:checked + .RB{
    padding: 5px 15px;
    background: #0774D9;
    border-radius: 2px;
    color: #ffffff;

}
.trato form input[type = "radio"]:checked + .RB:before{
    display: none;
}

.trato form .RB{
    color: #0774D9;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.trato{
    width: 420px;
    height: 680px;
    background: transparent;
    color: #0774D9;
    font-size: 18px;
    top: 50%;
    left: 53%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
    text-align: justify;
    
}

.trato form .datos{
    margin: 0;
    padding: 0; 
    font-weight: bold;
    display: block;
}

.trato form .datos{
    margin: 0;
    padding: 0; 
    font-weight: bold;
    display: block;
}

.trato form  input[type="tel"],
.trato form  input[type="text"],
.trato form input[type = "date"]{
    border: none;
    border-bottom: 1px solid #0774D9;
    background: transparent;
    outline: none;
    height: 40px;
    color: #0774D9;
    font-size: 16px;
}

.trato form  input[type="tel"],
.trato form  input[type="text"],
.trato form  input[type="Submit"],
.trato form input[type = "date"]{
    width: 100%;
    margin-bottom: 20px;
}

.trato form input[type="Submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(47,0,74);
    color: #fff; 
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.termino{
    width: 850px;
    height: 520px;
    background: white;
    color: #0774D9;
    font-size: 18px;
    top: 60%;
    left: -30%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
    text-align: justify;
    margin: 2px;
    margin-block: inherit;


}

.termino form{
    margin: 4px;
    position: absolute;
}

.logo{
    width: 200px;
    height: 200px;
    top: -50%;
    left: -10%;
    position: absolute;
}

