*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
}

header{
    width: 100%;
}

header nav{
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    background: url(../img/var.png);
}

header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    color: #ffffff;
    padding: 20px;
    display: block;
    text-decoration: none;
}


.ML:hover{
    background: rgb(47,0,74);
    font-size: 17px;
}


.radio_btn{
    margin: 1px 1px;
    color:white;
    font-style: inherit;
    font-weight: bold;
    font-size-adjust: inherit;
    font-size: 13px;
    border-radius: 15px;
}

.radio_btn:hover {
    margin: 2px 2px;
    color:white;
    background: rgb(47,0,74);
    font-size-adjust: inherit;
    font-size: 15px;
    border-radius: 15px;
}

.Mover{
    float: right;
}

.ajustar{
    display: block;
    margin: -20px;
    max-width: 40px;
}
.Logo_BT{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    color: #fff; 
    font-size: 18px;
    cursor: pointer;
    margin: 2px 2px;
    font-size-adjust: inherit;
    border-radius: 15px;
}

.Login_ML{
    width: 420px;
    height: 633px;
    background: white;
    border: .5px solid rgb(47,0,74);
    color: #ffffff;
    font-size: 12px;
    top: 54%;
    left: 53.80%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
}

.menu a{
   
    display: block; 
    position: relative;
    margin: 0;
    padding: 0 0 20px;
    font-size: 20px;
    color:black;
    font-style: inherit;
    font-weight: bold;
    top: 150px;
    left: 10%;
    text-decoration: none;
}

.Login_ML label{
    margin: 0;
    padding: 0;
    float: left; 
    font-weight: bold;
    display: block;
}

.Login_ML{
    display: none;
}
.Login_ML input{
    width: 100%;
    margin-bottom: 20px;

}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: calc(3% - 50px);
    display: block;
    border: 1px solid black;
}
.var{
    display: none;
}

.portada{
    top: 0%;
    left: 0%;
    width: 420px;
    height: 180px;
    background: url(../img/fondo.png) no-repeat top center;
    background-size: cover;
    position: absolute;
}

.ob{
    display: none;
}
.Ucer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}
.Bu{
    background: transparent;
    border: none;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.publicar{
    width: 420px;
    height: 150px;
    background: #f0f0d7;
    color: #ffffff;
    font-size: 12px;
    top: 20%;
    left: 20%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
    border-radius: 10px;
}

.coon{
    width: 122%;
    height: 100px;
    left: -11%;
    top: -70px;
    background: transparent;
    border: transparent;
    color: black;
    font-size: 12px;
    position: relative;
    border-radius: 10px;   
}


.a{
    display: none;
}
.ss{
    top: 75%;
    left: 80%;
    border: none;
    outline: none;
    height: 20px;
    background: transparent;
    color: grey; 
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    font-weight: 900;
}

.pub{
    top: 70%;
    left: 60%;
    width: 50px;
    height: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0;
   position: absolute;
   background: transparent;

}

.pub img{
    top: 100px;
    width: 50px;
    height: 30px;
    
position: absolutes;
}
.conte{
    position: absolute;
    top: 60%;
}

.mini{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: block;
}

.imgPub{
    position: absolute;
    top: 30%;
    left: 10%;
    display: block;
    margin: 6px;
    max-width: 500px;
    max-height: 200px;
}

.contenedor{
    position: absolute;
    left: 30%;
    top: 40%;
    height: 400px;
    width: 500px;
}

.public{
    margin: 6px;
    position: relative;
    min-height: 300px;
    min-width: 600px;
    max-height: 300px;
    max-width: 600px;
    background: #f0f0d7;
    border-radius: 4px;
   
}
.nameU{
    position: absolute;
    display: block;
    margin: 15px;
    left: 10%;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.text{
    position: absolute;
    display: block;
    margin: 10px;
    top: 20%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.progress{
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 3px;
    background: #f0f0d7;
    position: fixed;
}
.tittle{
    position: absolute;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    left: 10%;
    font-weight: 700;
    color: grey;
}

.prosbar{
    position: absolute;
    width: 95%;
    height: 75%;
    top: 15%;
    margin: 4px;
   
}
.prosbar label{
        display: block;
        margin: 5px;
        margin-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: gray;
}

.mm{
    position:  fixed;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.progress{
    display: none;
}