*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/login.png);
    background-size: cover;
    font-family: sans-serif;
    font: small;
    color:black;
}


.Login{
    width: 420px;
    height: 420px;
    background:transparent;
    color: #ffffff;
   font-size: 12px;
    top: 50%;
    left: 20%;
    position:absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
}


.Login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.Login label{
    margin: 0;
    padding: 0; 
    font-weight: bold;
    display: block;
}

.Login input{
    width: 100%;
    margin-bottom: 20px;
}

.Login input[type="email"],
.Login input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.Login input[type="Submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(47,0,74);
    color: #fff; 
    font-size: 18px;
    border-radius: 20px;
}

.Login input[type="Submit"]:hover{
    background: rgb(70,0,74);
}

.Login .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.Login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.antes{
    display: block;
    margin: 5px;
    max-width: 10000px;
    top: 50%;
    left: 4%;
    position: absolute;
    transform: translate(50%, -50%);
    border-radius: 20px;
}