<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>provar</title>
</head>
<body>
    <div>
        <div class="card-fooder">
            <form action="/Perfil" method="POST" enctype="multipart/form-data">
                <input type="file" name="hola">
                <button type="submit"> 
                    hola sube
                </button>
            </form>
        </div>
    </div>
</body>
</html>